@import "reset";
@import "header";
@import "footer";
@import "fixed";
.content{
	width:770px;
	margin:100px auto 0;
	h2{
		font-size: 22px;
		color:#AA8764;
		height:70px;
		line-height: 70px;
		border-top: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
		text-align: center;
	}
	.img{
		margin: 70px auto 40px;
		position: relative;
		img{width:100%;}
		div{
			border: 1px solid #E7E7E7;
   			width: 378px;
		    height: 52px;
		    padding-top: 8px;
		    margin: -31px auto 0;
		    position: relative;
		    z-index: 10;
		    background-color: #fff;
		    text-align: center;
		    line-height: 22px;
			text-align: center;
			font-size:15px;
		    h3{
		    	color: #AA8764;
			    height: 22px;
		    }
		    h4{
		    	color: #3C2314;
			    height: 22px;
		    }
			}
	}
	p{
		padding-bottom: 20px;
    	font-size: 12px;
	}

}